body {
    font-family: 'Arial', sans-serif;
    background-color: #212529;
}

#icon img {
    width: 50px;
    height: 50px;
}

.custom-navbar {
    background-color: black;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    transition: background-color 0.5s ease;
}

.custom-navbar.navbar-scroll {
    background-color: black;
}

#login {
    margin-right: 2vh;
}

.navbar-toggler-icon {
    background-color: rgb(183, 183, 183);
}

.white-text {
    color: white !important;
}

.white-text:hover {
    text-decoration: underline;
}

@media (min-width: 420px) and (max-width: 599px) {
    .custom-offcanvas {
        width: 60% !important;
    }
}

@media (max-width: 419px) {
    .custom-offcanvas {
        width: 75% !important;
    }
}







/* #buttons{
    margin-top: 100px;
    margin-left: 30px;
}
.btn{
    margin-right: 15px;
}

#buttons .btn{
    color: rgb(60, 60, 60);
} */

.big-container {
    margin-top: 20px;
    /* border: 2px solid red; */
    width: auto;
    overflow-x: hidden;
}

.row {
    display: flex; 
    justify-content: space-between; 
    /* border: 2px solid green; */
    margin-right: 50px;
}
.col-md-5 {
    flex: 0 0 calc(50% - 2px); 
    
}

.sm-container{
    height: 250px;
    border-radius: 7px;
    font-size: 1.5rem;
    margin-left: 30px;
    margin-right: 30px;
    color: rgb(60, 60, 60);
    
}
.custom-textarea {
    font-size: 1.5rem;
    height: 100%;
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    color: rgb(60, 60, 60);
    
}

.custom-textarea {
    /* width: calc(100% - 20px);  */
    height: 190px; 
    background-color: transparent;
    border: none;
    padding: 10px; 
    margin: 0;
    /* outline: none;  */
    text-align: left; 
    vertical-align: top; 
    resize: none; 
}

#lang-container{
    /* border: 2px solid red; */
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
}



/* #arrow {
    border: 2px solid green;
} */

i:hover{
    cursor: pointer;
}

select:hover{
    cursor: pointer;
}

@media (max-width: 850px) {
    .big-container .row {
        flex-direction: column;
    }

    .big-container .col-md-5 {
        width: 100%;
    }
    .sm-container{
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    #lang-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #arrow img {
        transform: rotate(90deg); /* Rotate the arrow image */
        margin-top: 10px;
        margin-bottom: 10px;
    }

}

/* .lang-button{
    color: rgb(60, 60, 60);
}

#buttons .btn.active {
    background-color: rgb(183, 183, 183);
   
} */

